<div class="jumbotron">
    <div class="container" style="text-align: center;">
      <h1>EPYTODO</h1>
      <p>Welcome to your beautiful profile page !</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-alert"></span> You already logged in</div>
        <a class="btn-lg btn-danger" href="/user" style="margin-left:35%;">Go to Profile »</a>
      </div>
    </div> 
  </div>