<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <meta name="description" content="Website for EPYTODO">
    <meta name="author" content="Mehdi, Nicolas, Jonathan">
    <link rel="icon" href="../../favicon.ico">

    <title>EPYTODO - EPITECH PROJECT</title>
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/starter-template/starter-template.css" rel="stylesheet">
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="padding: 15px 15px;">EPYTODO</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="{{ 'active' if active_page == 'index' else '' }}"><a href="/">Home</a></li>
              <li class="{{ 'active' if active_page == 'contact' else '' }}"><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user_id == 0 %}
              <li class="{{ 'active' if active_page == 'register' else '' }}"><a href="/register">Register</a></li>
              <li class="{{ 'active' if active_page == 'signin' else '' }}"><a href="/signin">Sign in</a></li>
              {% else %}
              <li class="{{ 'active' if active_page == 'user' else '' }}"><a href="/user">USERNAME</a></li>
              <li class="{{ 'active' if active_page == 'task' else '' }}"><a href="/user/task">View your tasks</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>