{% set active_page = "index" %}
{% include "header.html" %}
    <div class="jumbotron">
      <div class="container" style="text-align: center;">
        <h1>Welcome to EPYTODO!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6" style="text-align: center;">
          <h2>Register</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary btn-lg" href="register" role="button">Register »</a></p>
        </div>
        <div class="col-md-6" style="text-align: center;">
          <h2>Signin</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary btn-lg" href="signin" role="button">Signin »</a></p>
        </div>
      </div>
    </div>
{% include "footer.html" %}
