{% include "header.html" %}
    <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center;">
            <form class="form-signin" style="margin-top: 110px;">
                <h2 class="form-signin-heading" style="margin-bottom: 28px;">SIGNIN</h2>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <label style="margin-top: 10px;">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </form>
            <p>You don't have account ? <a type="button" href="/register" class="btn btn-primary btn-sm">Click here !</a></p>
        </div>
        </div>
    </div>
{% include "footer.html" %}